<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chock.shop.mapper.GoodsDetailMapper">

  <select id="listGoodsDetail" resultType="org.chock.shop.dto.GoodsDetailDto">
    select a.*, b.name
    from s_goods_detail a
    inner join s_goods b on a.goods_id = b.id
    where a.goods_id = #{goodsId}
  </select>

  <select id="getOrderGoodsDetailList" resultType="org.chock.shop.dto.GoodsDetailInfo">
    select a.sku_ids skuIds, a.price, a.quantity, a.amount, b.name, b.cover
    from s_order_detail a
    left join s_goods_detail b on a.goods_detail_id = b.id
    left join s_goods b on a.goods_id = b.id
    where a.order_no = #{orderNo}
  </select>
</mapper>