<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chock.shop.mapper.GoodsMapper">

  <select id="listGoodsPage" resultType="org.chock.shop.dto.GoodsDto">
    select a.*, b.name categoryName
    from s_goods a
    inner join s_category b on a.category_id = b.id
    where
    1 = 1
    <if test="goodsIds != null and goodsIds.size() > 0">
      and a.id in
      <foreach collection="goodsIds" open="(" close=")" separator="," item="item" index="index">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="getGoodsInfoItemsPage" resultType="org.chock.shop.dto.GoodsInfoItem">
    select a.id goodsId, a.cover, a.name goodsName, a.price
    from s_goods a
    <where>
      <if test="query.categoryId != null and query.categoryId != ''">
        and a.category_id = #{query.categoryId}
      </if>
      <if test="query.searchContent != null and query.searchContent != ''">
        and a.name like concat('%',#{query.searchContent},'%')
      </if>
      <if test="query.goodsIds != null">
        and a.id in
        <foreach collection="query.goodsIds" index="index" separator="," item="item" close=")" open="(">
          #{item}
        </foreach>
      </if>
    </where>
    order by a.create_time desc
  </select>
</mapper>